<%= form_for :session, url: session_path do |form| %>

  <div class="container">
      <div class="wrapper">
        <h1>Please sign in</h1>

        <%= form.text_field :email, placeholder: 'Email', class: "form-control" %>

        <%= form.password_field :password, placeholder: 'Password', class: "form-control" %>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me", align="center"> Remember me
          </label>
        </div>

        <%= form.submit class: "btn btn-dark btn-lg btn-block" %>
        <% if Clearance.configuration.allow_sign_up? %>
          <%= link_to t(".sign_up"), sign_up_path %>
        <% end %>

        <%= link_to t(".forgot_password"), new_password_path %>
      </div>
  </div>

<% end %>
