
<script>
  $(document).ready(function () {
      window.json = <%= @json.html_safe %>;
      loadEditor();
  });
</script>

<div class="container">
  <h1>Edit Format</h1>

  <% if @format.errors.any?%>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@format.errors.count, "error") %>
        prohibited this format from being saved:
      </h2>

      <ul>
        <% @format.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for @format, id: "editFormat" do |f| %>
    <%= f.input :title, required: true %>

    <%= hidden_field_tag(:json, '') %>

    <div class="container" id="jsoneditor" style="height: 400px;"></div>

    <div>
      <br>
      <%= link_to ' Cancel', "/formats", class: "btn btn-outline-primary fas fa-angle-left" %>
      <%= f.submit "Update", class: "btn btn-primary fas", onclick: "readEditorValue();" %>
    </div>
  <% end %>
</div>