<% javascript_include_tag "formats" %>

<script>
  $(document).ready(function () {
      window.json = <%= @json.html_safe %>;
      formats.loadEditor();
  });
</script>

<div class="container">
  <h1>Edit Format</h1>

  <%= simple_form_for @format, id: "editFormat" do |f| %>
    <%= f.input :title %>

    <%= hidden_field_tag(:json, '') %>

    <div class="container" id="jsoneditor" style="height: 400px;"></div>

    <div>
      <br>
      <%= link_to ' Cancel', "/formats", class: "btn btn-outline-primary fas fa-angle-left" %>
      <%= f.submit "Update", class: "btn btn-primary fas", onclick: "readEditorValue();" %>
    </div>
  <% end %>
</div>