<div class="container">
  <h1>Create Format</h1>

  <%= simple_form_for @format do |f| %>
    <%= f.input :title %>

    <h3>Upload File</h3>
    <% if @format.attachment.file.nil? -%>
      <% if @format.errors.messages[:attachment].any? -%>
        <%= f.error_notification message: @format.errors.messages[:attachment].first %>
      <% end %>

      <%= f.file_field :attachment %>
    <% else %>
      File already uploaded: <%= @upload_name %>
      <%= link_to 'Delete', @upload, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
    </p>

    <footer>
      <%= link_to ' Cancel', "/formats", class: "btn btn-outline-primary fas fa-angle-left" %>
      <%= f.submit "Create", class: "btn btn-primary fas", :"data-turbolinks" => false%>
    </footer>
  <% end %>

</div>