<div class="container">
  <h1>Create Format</h1>

  <%= simple_form_for @format do |f| %>

    <% if @format.errors.any?%>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@format.errors.count, "error") %>
          prohibited this format from being saved:
        </h2>

        <ul>
          <% @format.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <%= f.input :title%>


    <h3>Upload File</h3>
    <% if @format.attachment.file.nil? -%>

      <%= f.input :attachment, label: false%>
    <% else %>
      File already uploaded: <%= @upload_name %>
      <%= link_to 'Delete', @upload, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>

    <footer>
      <%= link_to ' Cancel', "/formats", class: "btn btn-outline-primary fas fa-angle-left" %>
      <%= f.submit "Create", class: "btn btn-primary fas", :"data-turbolinks" => false%>
    </footer>
  <% end %>

</div>