<h1>Create Format</h1>

<%= simple_form_for @format do |f| %>
  <%= f.input :title %>
  <%= f.input :multiline, as: :boolean %>
  <footer>
  <%= link_to '< Cancel', "/formats", style: "padding-right: 50px" %>
  <%= f.submit "Create" %>
  </footer>
<% end %>
</body>

</html>