<h1>New Format</h1>

<%= form_with scope: :format, url: formats_path, local: true do |form| %>
	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>

	<p>
		<%= form.label :multiline %>
		<%= form.check_box :multiline %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>

<%= link_to 'Back', formats_path %>