<h1>New Format</h1>

<%= form_with scope: :format, url: formats_path, local: true do |form| %>
	<!-- nested attributes for variables -->
	<%= form.fields_for :variables, @variable do |var| %>

		<p>
			<%= form.label :title %><br>
			<%= form.text_field :title %>
		</p>

  		<table>
  			<caption>Variables</caption>
		  	<tr>
		    	<th>Number</th>
		    	<th>Description</th> 
		    	<th>Max. Length</th>
		    	<th>Type</th>
		  	</tr>
				<td><%= form.text_field :number %></td>
				<td><%= form.text_field :description %></td>
				<td><%= form.number_field :length %></td>
				<td><%= form.text_field :type %></td>
			</tr>
		</table>

		<p>
			<%= form.label :multiline %>
			<%= form.check_box :multiline %>
		</p>

		<p>
			<%= form.label :stand %>
			<%= form.date_field :stand %>
		</p>

		<p>
			<%= form.submit "Create" %>
		</p>

	<% end %>

<% end %>

<%= link_to 'Back', "/formats" %>