<div class="container">
  <h1>Format</h1>

  <p>
    <strong>Title:</strong>
    <%= @format.title %>
  </p>

  <p>
    <strong>Date of Creation:</strong>
    <%= @format.created_at %>
  </p>

  <%= link_to "Download Specification", @format.attachment_url, download: true %>

  <p class="table">
    <h3>Contents</h3>
  <div id="outputdiv" class="table table-striped mono"><%= build_table(@json).html_safe %></div>
  </p>

  <footer>
    <%= link_to '< Formats', controller: 'formats' %>
  </footer>

</div>