<!--
  WARNING: When using link_to to navigate to this site, make sure to add
  :"data-turbolinks" => false
  to the call. Otherwise the form could fail to submit until the page is reloaded.
-->
<%= javascript_include_tag "submit_on_enter" %>

<h1>Variables</h1>

<% if @variables.empty? -%>
<p>There are no variables yet. You can fill in the form on the bottom or upload your JSON-file directly.</p>
<% end %>

<p>
<h3>Upload File</h3>
  <%= render partial: "uploads/file_up", locals: {:format_id => @format_id} %>
</p>

<hr>
<p>
<h3>Insert Variables</h3>
<p>
  Press enter at the end of a row to save and add a new line.
</p>
<table>
  <tbody>
  <tr>
    <th>Number</th>
    <th>Description</th>
    <th>Max. Length</th>
    <th>Type</th>
    <th></th>
  </tr>
  <% @variables.each do |var| %>
    <%= simple_form_for var do |f| %>
    <tr>
        <td><%= f.input :number, label: false%></td>
        <td><%= f.input :description, label: false%></td>
        <td><%= f.input :length, label: false%></td>
        <td><%= f.input :var_type, label: false%></td>
        <td><%= link_to 'x', variable_path(var),
                        method: :delete %></td>
        <%= hidden_field_tag :format_id, @format_id %>
    </tr>
    <% end %>
  <% end %>
  <tr>
    <%= simple_form_for @variable, html: {id: "new_var_form"} do |f| %>
      <td><%= f.input :number, label: false, autofocus: true%></td>
      <td><%= f.input :description, label: false%></td>
      <td><%= f.input :length, label: false%></td>
      <td><%= f.input :var_type, label: false%></td>
      <td></td>
      <%= hidden_field_tag :format_id, @format_id %>
    <% end %>
  </tr>
  </tbody>
</table>
</p>


<footer>
  <!--TODO: Save forms on done-->
  <%= link_to "< Done", "show?format_id=#{@format_id}", :"data-turbolinks" => false%>
</footer>