<%= javascript_include_tag "submit_on_enter" %>
<div class="container">
  <table>
    <caption>Variables</caption>
    <tbody>
    <tr>
      <th>Number</th>
      <th>Description</th>
      <th>Max. Length</th>
      <th>Type</th>
    </tr>
    <tr>
      <%= simple_form_for @variable do |f| %>
        <td><%= f.input :number, label: false%></td>
        <td><%= f.input :description, label: false%></td>
        <td><%= f.input :length, label: false%></td>
        <td><%= f.input :var_type, label: false%></td>
        <%= hidden_field_tag :format_id, @format_id %>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>