<!--
  WARNING: When using link_to to navigate to this site, make sure to add
  :"data-turbolinks" => false
  to the call. Otherwise the form could fail to submit until the page is reloaded.
-->

<h1>Variables</h1>

<table id="variables-table">
  <tbody>
  <tr>
    <th>Number</th>
    <th>Description</th>
    <th>Max. Length</th>
    <th>Type</th>
  </tr>
  <% @variables.each do |var| %>
    <%= simple_form_for var, html: {id: "update_var_form"} do |f| %>
    <tr>
        <td><%= f.input :number, label: false%></td>
        <td><%= f.input :description, label: false%></td>
        <td><%= f.input :length, label: false%></td>
        <td><%= f.input :var_type, label: false%></td>
        <td><%= link_to 'x', variable_path(var),
                        method: :delete%></td>
        <%= hidden_field_tag :format_id, @format_id %>
    </tr>
    <% end %>
  <% end %>
  <tr>
    <%= simple_form_for @variable, html: {id: "new_var_form"} do |f| %>
      <td><%= f.input :number, label: false, autofocus: true%></td>
      <td><%= f.input :description, label: false%></td>
      <td><%= f.input :length, label: false%></td>
      <td><%= f.input :var_type, label: false%></td>
      <%= hidden_field_tag :format_id, @format_id %>
    <% end %>
  </tr>
  </tbody>
</table>
<%= link_to 'Back', "/formats" %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    ready = function () {
        $("input").keypress(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                var source = event.target || event.srcElement;
                var form = source.form;
                form.submit();
            }
        });
    };

    $(document).ready(ready);
    // Could be used to force creating a new variable, e.g. with an "Add" button
    //
    // <a id="addVariable" href="">+ Add</a>
    //



</script>