<h1>Variables</h1>
<% if @variables.empty? -%>
  There are no variables yet. Start entering some by pressing "Edit".
<% else -%>
<table id="variables-table">
  <tr>
    <th>Number</th>
    <th>Description</th>
    <th>Max. Length</th>
    <th>Type</th>
  </tr>
  <tbody>
  <% @variables.each do |variable| %>
    <tr>
    <td><%= variable.number %></td>
    <td><%= variable.description %></td>
    <td><%= variable.length %></td>
    <td><%= variable.var_type %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end -%>
<p>
  <%= link_to 'Edit', "newform?format_id=#{@format_id}", :"data-turbolinks" => false %>
</p>