<!DOCTYPE html>
<html>
<head>
  <title>Formats</title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <div class="app-header">
    <nav class="navbar navbar-default navbar-expand-sm fixed-top navbar-dark bg-dark" style="">
      <div class="container-fluid">

        <div class="navbar-header">
          <div class="col-sm-2 navbar-brand">
            <%= link_to image_tag("logo_swissdrg.jpg", alt: "logo", class: 'navbar-logo'), root_path %>
          </div>
        </div>


          <div class="navbar-nav">
            <a class="nav-item nav-link <%= 'active' if params[:controller] == 'formats' %>" href="/formats">Formats</a>
            <a class="nav-item nav-link <%= 'active' if params[:controller] == 'preview' %>" href="/preview">Preview</a>
          </div>

        <div class="signInInfo navbar-right justify-content-end" id="navbar-header">
          <% if signed_in? && !(current_page?("/users/show"))%>
            <%= button_to 'Profil', current_user, :params => {:id => current_user.id}, :method => :get%>
          <% elsif if signed_in? && (current_page?("/users/show"))%>
            <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
          <%end %>
          <% elsif !(current_page?("/sign_in") || current_page?("/sign_up") || current_page?("/session")) %>
              <%= button_to 'Sign in', new_user_session_path, :method => :get %>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</head>

<body class="container pl-5">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
</body>
<%# :controller => 'users', :action => 'show', :params => {:id => current_user.id} %>
</html>