<!DOCTYPE html>
<html>
<head>
  <title>Formats</title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <div class="app-header">
    <nav class="navbar navbar-default navbar-expand fixed-top navbar-dark">
          <div class="col-sm-2 navbar-brand">
            <%= link_to image_tag("logo_swissdrg.jpg", alt: "logo", class: 'navbar-logo'), root_path %>
          </div>

          <div class="navbar-nav">
            <a class="nav-item nav-link h4 <%= 'active' if params[:controller] == 'formats' %>" href="/formats">Formats</a>
            <a class="nav-item nav-link h4 <%= 'active' if params[:controller] == 'preview' %>" href="/preview">Preview</a>
          </div>

        <div class="container-fluid signInInfo navbar-right justify-content-end" id="navbar-header">
          <% if signed_in? && !(current_page?("/users/show"))%>
            <%= link_to ' Profile', current_user, class: "btn btn-light fa fa-user", :params => {:id => current_user.id}, :method => :get%>
          <% elsif !(current_page?("/users/sign_in") || current_page?("/sign_up") || current_page?("/session")) %>
              <%= link_to ' Sign In', new_user_session_path, class: "btn btn-light fa fa-sign-in-alt", :method => :get %>
          <% end %>
        </div>
    </nav>
  </div>
</head>

<body class="container pl-5">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
</body>
</html>